/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}
button {
    background: none;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
fonts
font-family: 'Open Sans', sans-serif;
font-family: 'Bitter', serif;
*/

/* +++HEADER+++ */
header {
    height: 200px;
    z-index: 9999;
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    border-bottom: 3px solid #8de6bb;
    text-align: center;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
.headerlogo {
    background: url(../img/logo.png) no-repeat center;
    width: 89px;
    height: 89px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    margin: 35px auto;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
.shrink {
    height: 150px;
}
.shrink .headerlogo {
    margin: 10px auto;
}
header a {
    color: #000;
    padding: 5px;
    -webkit-transition: color ease-in-out .2s;
    -moz-transition: color ease-in-out .2s;
    -o-transition: color ease-in-out .2s;
    transition: color ease-in-out .2s;
}
nav {
    display: inline-block;
}

/* +++CALL TO ACTION+++ */
#calltoaction {
    background-color: #d8d8d8;
    height: 400px;
    width: 100%;
    border-bottom: 3px solid #8de6bb;
    margin-top: 50px;
    padding-top: 125px;
}
.callbutton {
    font-family: 'Oswald', sans-serif;
    width: 180px;
    height: 50px;
    border: 4px solid #fff;
    display: block;
    margin: 0 auto;
    color: #fff;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}
.centerbtn {
    letter-spacing: 2px;
    line-height: 50px;
}
.callbutton.contactbtn {
    margin: 42px auto;
    letter-spacing: .3em;
}
.callbutton:hover {
    border-color: #fff;
    background: #fff;
    color: #8de6bb;
}
.contactbtn:hover {
    color: #f26252;
}
.calltext {
    display: block;
    text-align: center;
    padding: 25px 0;
}
.aboutme {
    margin: 10px 0 10px 0;
    font-size: 11px;
    padding: 0;
}

/* +++WORK+++ */
.bottomborder, .topborder {
    width: 100%;
}
.bottomborder {
    border-bottom: 2px solid #e6e6e6;
}
.topborder {
    border-top: 2px solid #e6e6e6;
}
#work {
    padding: 150px 0 0 0;
}
#work a  {
    text-align: center;
    display: block;
    margin: 0 auto;
}

/* +++SKILLS+++ */
.technologies li {
    line-height: 2.2em;
}
.resume {
    background: url("../img/pdf.png") no-repeat 100% 4px;
    width: 175px;
    padding: 5px 20px 5px 5px;
    display: block;
    color: #333333;
    margin: 40px auto;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}
.resume:hover {
    background-position: 100% -46px;
    color: #f26252;
}
.link {
    text-decoration: underline;
}
#skills {
    width: 400px;
    margin: 0 auto;
    padding: 150px 0 0 0;
    max-width: 100%;
}
.technologies {
    display: block;
    margin: 0 auto;
    width: 300px;
}
/* progress bars */
h5 {
    margin: 0;
}
li .skill {
    padding: 0;
    margin: 0;
}
.skilllist {
    list-style: none;
    padding: 0;
}
.skill h5 {
    color: #fff;
    font-size: 17px;
    position: relative;
    bottom: -35px;
    padding-left: 10px;
    padding-bottom: 6px;
    z-index: 99;
}
.bar {
    height: 35px;
    background: #e6e6e6;
    overflow: hidden;
    width: 100%;
}
.bar .fill {
    height: 100%;
    display: block;
    background: #8de6bb;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transition: transform 2s ease;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -o-transition: 2s ease;
}
.bar .fill.animated {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
}

/* +++ABOUT+++ */
#about {
    text-align: center;
    float: left;
    padding: 150px 0 0 0;
    margin: 0 0 50px 0;
}
.aboutphoto {
    width: 200px;
    height: 200px;
    border: 4px solid #8de6bb;
    border-radius: 50%;
}

/* +++CONTACT+++ */
#contact {
    text-align: center;
    color: #fff;
    background: #f26252;
    width: 100%;
    height: 520px;
    padding: 150px 0 0 0;
}
input {
    width: 26px;
    height: 25px; 
    padding: 0 20px 0px 5px; 
    margin: 0 0 20px 0; 
    border-radius: 5px;
}
textarea {
    border-radius: 5px;
    resize: none;
}
input:focus, textarea:focus { 
    outline: none !important;
}
.contactbtn {
    background-color: #f26252;
}
.contactform {
    margin: 0;
}
input[type=text], textarea {
        width:75%;
}







/* ++++FOOTER++++ */
.social a {
    margin: 10px;
    display: inline;
}
.footernav a {
    margin: 10px;
}
.footernav {
    margin: 30px 0;
}
.social {
    display: inline-block;
    margin: 0 auto;
}
.rightfoot {
    text-align: center;
}
.copyright:before {
    content: '';
    background: url(../img/logosmall.png) no-repeat;
    display: inline-block;
    height: 49px;
    width: 49px;
    vertical-align: middle;
    float: left;
    margin: 0 10px 0 0;
    margin-top: 7px;
}
.copyright {
    line-height: 0;
    display: block;
    width: 200px;
    border: 1px solid #fff;
    margin: 20px auto;
}
.footertype {
    text-align: left;
}
/* social media */
.github {
    background: url(../img/github.png) no-repeat center;
    height: 25px;
    width: 30px;
    float: left;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}
.github:hover {
    background: url(../img/githubhover.png) no-repeat center;
}
.twitter {
    background: url(../img/twitter.png) no-repeat center;
    height: 25px;
    width: 30px;
    float: left;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}
.twitter:hover {
    background: url(../img/twitterhover.png) no-repeat center;
}
.linkedin {
    background: url(../img/linkedin.png) no-repeat center;
    height: 25px;
    width: 30px;
    float: left;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}
.linkedin:hover {
    background: url(../img/linkedinhover.png) no-repeat center;
}
.mail {
    background: url(../img/mail.png) no-repeat center;
    height: 25px;
    width: 30px;
    float: left;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}
.mail:hover {
    background: url(../img/mailhover.png) no-repeat center;
}






/* +++HELPERS+++ */
li {
    font-size: 15px;
}
.scrolltop {
    display: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.container {
    width: 85%;
    display: block;
    margin: 0 auto;
    clear: both;
}
.height {
    line-height: 1.8em;
}
.white {
    margin-bottom: 35px;
}
textarea, input, a, p, li, h5 {
    font-family: 'Sanchez', serif;
}
::-webkit-input-placeholder, textarea {
    font-family: 'Sanchez', serif;
}
a {
    text-decoration: none;
    color: #000;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s; 
}
a:hover {
    color: #f26252;
}
h3, h2, h1, h4 {
    font-family: 'Oswald', sans-serif;
}
h2 {
    font-size: 185%;
    padding: 30px;
    margin: 0;
}
h3 {
    font-size: 30px;
}
p {
    font-family: 'Sanchez', serif;
    text-align: center;
}
h3 {
    text-align: center;
}
h1 {
    letter-spacing: .1em;
    font-size: 55px;
    margin-bottom: 0;
}
.content {
    height: 300px;
    margin-top: 75px;
}
.section {
    margin-top: 75px;
}
.spacing {
    letter-spacing: .1em;
    margin-bottom: 0;
    padding-bottom: 0;
}
.whitelineleft {
    height: 5px;
    width:30%;
    background: #fff;
    position: relative;
    top: 55px;
}
.whitelineright {
    height: 5px;
    width:30%;
    background: #fff;
    position: relative;
    top: 50px;
    float:right; 
}
@media (min-width: 360px) {
    .aboutme {
        font-size: 14px;
    }
}
@media (min-width: 730px) {
    #contact input {
        width: 260px;
    }
     #contact textarea {
        width: 500px;
    }
}
@media (min-width: 875px) {
    .technologies {
        float: right;
        padding-left: 50px;
    }
    #skills {
        float: left;
    }
}
@media (min-width: 460px) {
    .shrink nav{
        margin-top: 20px;
    }
    header .shrink .headerlogo {
        margin: 20px 0;
    }
    .shrink {
        height: 65px;
        width: 100%;
    }
    .shrink .headerlogo {
        background: url(../img/logosmall.png) no-repeat right;
        height: 49px;
        width: 49px;
        padding-left: 75px;
    }
}
@media(min-width: 460px) and (max-width: 550px) {
    nav {
        margin-right: 35px;
    }
     .headerlogo {
        margin-left: 35px;
    }
}
@media(min-width: 550px) {
    .headerlogo {
        margin-left: 75px;
    }
    nav {
        margin-right: 75px;
    }
    nav a {
        margin: 10px;
    }
    .scrolltop {
        display: inline;
        position: fixed;
        right: 0px;
        bottom: 0px;
        height: 50px;
        width: 100px;
        background: #f26252;
        text-align: center;
        color: #fff;
        line-height: 50px;
        opacity: .8;
    }
}
@media(min-width: 550px) and (max-width: 569px) {
    nav a {
        margin: 5px;
    }
}
@media(min-width: 413px) and (max-width: 495px) {
    #calltoaction {
        height: 350px;
    }
}
@media(min-width: 460px) {
    .aboutphoto {
        width: 328px;
        height: 328px;
    }
    .headerlogo {
        float: left;
        margin-top: 55px;
    }
    nav {
        float: right;
        margin-top: 85px;
    }
    #work {
        padding: 50px 0 0 0;
    }
    #skills {
        padding: 50px 0 0 0;
    }
    #about {
        padding: 50px 0 0 0;
    }
    #contact {
        padding: 50px 0 0 0;
    }
    .clearfix .technologies {
        padding: 50px 0 0 0;
    }
}
@media(min-width: 460px) and (max-width: 860px){
    nav {
        float: right;
        margin-top: 85px;
    }
}

@media (min-width: 883px) {
    #skills {
        float: left;
    }
    .clearfix .technologies {
        float: right;
        padding: 50px 50px 0 0;
    }
}
@media (max-width: 325px) {
    .technologies {
        width: 200px;
    }
}
@media (min-width: 540px) {
    .whitelineleft {
        width:40%;
    }
    .whitelineright {
        width:40%; 
    }
}

@media (min-width: 873px) {
    .heroimg {
        background: url(../img/landingphoto.png) no-repeat center;
        height: 295px;
        width: 380px;
        float: left;
        margin-left: 40px;
    }
    .calltext {
        float: right;
        margin-right: 40px;
    }
    h3 {
        text-align: left;
    }
    #contact h3 {
        text-align: center;
    }
    #about {
        float: left;
        padding: 125px 0;
    }
    .aboutphoto{
        width: 300px;
        height: 300px;
        float: right;
        margin: 0 0 20px 10px;
    }
    #about p {
        text-align: left;
    }
    nav a {
        margin: 30px;
    }
}
@media (min-width: 370px) and (max-width: 460px) {
    .skill h5 {
        margin-left: 40px;
    }
}
@media (min-width: 495px) and (max-width: 860px) {
    #calltoaction {
        height: 350px;
    }
}
@media (min-width: 860px) and (max-width: 1036px) {
    .heroimg {
        margin-left: 5px;
    }
    .calltext {
        margin-right: 5px;
        padding: 0;
    }
    #calltoaction {
        height: 295px;
    }
}
@media (min-width: 1036px) {
   #calltoaction {
        height: 295px;
    }
    .calltext {
        margin-top: -30px;
    } 
}
@media (min-width: 550px) {
    .leftfoot {
        float: left;
        margin: 20px 0 20px 20px;
    }
    .rightfoot {
        float: right;
        margin: 20px 0;
        height: 106px;
        padding-top: 17px;
    }
    .rightfoot .social {
        margin: 0 20px 0 0;
        float: right;
    }
    footer .footernav {
        margin: 0 20px 0 0;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}